



.media-left img:hover{
  opacity: 0.6;
}

.media-left img{
  cursor: pointer;
}

.rate {
  font-size: 20px;

}

p{
  font-size: 15px;
}

.title{
  font-size: 20px;
  font-weight: bold;
}


.list-item img:hover{
  opacity: 0.7;
}
